/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/papyrus.png);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font: 16px/28px arial, sans-serif;
    color: #333;
    background-color: #eaeaea;
}

.container {
    width: 960px;
    margin: auto;
    margin-top: 80px;
    background-color: #fff; 
    position: relative;
}

.top-bar {
    position: fixed;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    background-color: skyblue;
    border-bottom: 5px solid salmon;
    z-index: 9999;
}

.linked {
    width: 80px;
    height: 155px;
    background-image: url(linked.png);
    display: inline-block;
    background-repeat: no-repeat;
    text-indent: -9999px;
    position:  absolute;
    top: -9px;
    right: 30px;
}

.header{
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
}

.header li a {
    color: skyblue;
    font-size: 14px;
    text-decoration: none;
    padding: 4px;
}

.header li a:hover{
    background-color: salmon;
    color: white;
}

/*gambar*/
.hero {
    height: 320px;
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: 0 -30px;
    border-top: 5px solid skyblue;
    border-bottom: 5px solid salmon;
}


/*konten kiri*/
.main {
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 25px;
    font-weight: bold;
}

.main .penulis {
    font-size: 12px;
    margin-top: -5px;
}

.main .penulis a {
    text-decoration: none;
    color: salmon;
}

.main p {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: justify;
}

/*konten kanan*/
.sidebar {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    float: right;
}

.sidebar h3 {
    font-weight: bold;
    color: #666;
    padding-bottom: 8px;
}

.sidebar img {
    width: 70px;
    float: left;
    padding-right: 10px;
}

.sidebar p {
    color: #666;
    font: 12px/16px arial;
    padding-bottom: 10px;
    text-align: justify;
}

.sidebar h5 {
    font-weight: bold;
    color: #666;
    
}

.sidebar .fb img {
    width: 30px;
    padding: 5px;
    padding-right: 10px;
}

.sidebar .ig img {
    width: 30px;
    padding: 5px;
    padding-right: 10px;
}

.sidebar .yt img {
    width: 35px;
    padding: 9px 5px 0px 5px;
}



/*footer*/
.footer {
    background-color: #333;
    padding: 16px;
}

.footer .copy {
    color: #fff;
    text-align: center;
    font-size: 12px;
}








.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}